.logo {
  padding: 1rem;
}

.polozky {
  color: var(--hlavni);
  display: flex;
  align-items: center;
}

.polozky__dotaz {
  color: var(--nadpisy);
  padding: 0.8rem;
  border: solid 1px var(--hlavni);
  background-color: var(--hlavni);
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.polozky__last,
.polozky__destinace {
  padding: 1rem;
}
