@import "header.css";
@import "zajezdy.css";
@import "vyhody.css";
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

:root {
  --hlavni: #f03000;
}

body {
  font-family: "Montserrat", sans-serif;
}

h3 {
  margin-left: 2rem;
  margin-top: 2rem;
}

h2,
h4 {
  color: white;
}

.vyhody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.vyhody__podpora,
.vyhody__sluzby,
.vyhody__slevy,
.vyhody__bezpeci {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  background-color: lightgray;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

h5 {
  color: var(--hlavni);
  margin-bottom: 0;
}

.novinky {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.novinky__zanzibar,
.novinky__navrat,
.novinky__kuba {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  background-color: lightgray;

  padding: 1rem;
}

.datum {
  color: grey;
}

footer {
  color: white;
  background-color: black;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
}
