@import "header.css";
@import "zajezdy.css";
@import "vyhody.css";
@import "novinky.css";
@import "footer.css";

html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

:root {
  --hlavni: #f03000;
  --nadpisy: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
}

h3 {
  margin-left: 2rem;
  margin-top: 2rem;
}

h2,
h4 {
  color: var(--nadpisy);
}

h5 {
  color: var(--hlavni);
  margin-bottom: 0;
}
