.zajezdy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 10px;
}

.zajezdy__velky--vlevo {
  background-image: url("podklady/palmy.jpg");
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.zajezdy__velky--vpravo {
  background-image: url("podklady/lodicka.jpg");
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}

.zajezdy__maly--vlevoNahore {
  background-image: url("podklady/podkova.jpg");
  grid-column: 1/2;
  grid-row: 1/2;
  height: 180px;
}

.zajezdy__maly--vlevoDole {
  background-image: url("podklady/zatoka.jpg");
  grid-column: 1/2;
  grid-row: 2/3;
  height: 180px;
}

.zajezdy__maly--vpravoNahore {
  background-image: url("podklady/jezero.jpg");
  grid-column: 3/4;
  grid-row: 1/2;
  height: 180px;
}

.zajezdy__maly--vpravoDole {
  background-image: url("podklady/nakole.jpg");
  grid-column: 3/4;
  grid-row: 2/3;
  height: 180px;
}

.zajezdy__spolecne {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.zajezdy__cena {
  color: var(--nadpisy);
  border: 1px solid var(--hlavni);
  background-color: var(--hlavni);
  padding: 0.5rem;
  width: 95px;
}

.zajezdy__popis {
  color: var(--nadpisy);
}
